*

!.bash_completion
!.bash_completion/*
!.bashrc
!.profile
!bin
!bin/alt
!bin/cf
!bin/dmrun
!bin/emacs
!bin/git-wazzup
!bin/git-weight
!bin/pmemgrep
!bin/rails-ctags
!bin/search
!bin/search-and-replace
!bin/slowdown
!bin/speedup
!bin/us
!bin/xmobar
!.emacs
!.emacs.d
!.emacs.d/elpa
!.emacs.d/elpa/*
!.emacs.d/elpa/**/*
!.emacs.d/site-lisp
!.emacs.d/site-lisp/*
!.emacs.d/site-lisp/**/*
!.gemrc
!.gitconfig.example
!.gitignore
!.gmrunrc
!.inputrc
!.irbrc
!.lein
!.lein/*
!.xmobarrc
!.xmonad
!.xmonad/xmonad.hs
!.Xresources
!.config/awesome
